body{
    font-family: sans-serif;

}
h1{
    color: goldenrod;
}
h2{
    color: goldenrod;
}
html{
    background-color: rgb(43, 43, 43);
}
p{color: blueviolet;}
a{
    color: aliceblue;
}